/* @import url('https:fonts.googleapis.com/css?familyLato&display=swap'); */

.progress-container{
    background:gray;
    border-radius: 5px;
    cursor:pointer;
    margin:10px 0;
    height:4px;
    width:100%;

}
.progress{
    background-color: white;
    border-radius: 5px;
    height:100%;
    width:50%;
    transition: width 0.1s linear;
}

.action-btn:focus{
    outline: 0;
}